@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1b1b25;
}

.botao_1,
.botao_2 {
    border-radius: 50px;
}

.botao button {
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    padding: 9px 25px;
    border: 50px;
    border: red;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.botao button:hover{
    background-color: #414141;
}

.short,
.Long {
    max-width: 1rem;
    max-height: 1rem;
}

.background-header {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

span {
    color: rgb(202, 202, 202);
}

